<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--<property name="LOG_FILE" value="logs/spring.log"/>-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <property name="LOG_PATH" value="/var/log/notes/notes"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/notes-properties-consumer.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>1</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
            <fileNamePattern>${LOG_PATH}/notes-properties-consumer-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="Async-Appender" class="ch.qos.logback.classic.AsyncAppender" queueSize = "1000">
        <appender-ref ref="RollingFile"/>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="ERROR" additivity="false">
        <appender-ref ref="Async-Appender"/>
        <appender-ref ref="Console"/>
    </root>


    <logger name="com.spectrum.notes.notesDataConsumer" level="INFO" additivity="false">
        <appender-ref ref="Async-Appender"/>
    </logger>
    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="Async-Appender"/>

    </logger>


    <logger name="org.apache.kafka" level="WARN" additivity="false">
        <appender-ref ref="Async-Appender"/>

    </logger>


    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="Async-Appender"/>

    </logger>

</configuration>